* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  /* background-image: url("https://assets.wallpapersin4k.org/uploads/2017/04/Half-Black-Half-White-Wallpaper-1.png");
  background-repeat: no-repeat;
  background-size:cover; */
}

#navbar-div {
  transition: 0.5s;
  background-color: #282A35;
  box-shadow: 0 4px 10px 4px rgba(41, 20, 20, 0.3);
}

.navbar-nav, .activetoggle {
  transition: 0.5s;
  list-style: none;
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 50px;
}

.nav-item {
  padding: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

.nav-item a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.nav-item:hover {
  /* background-color: #243dca; */
  background-color: rgba(0, 0, 0, 0.548);
}

#toggle-menu {
  display: none;
}

@media (max-width: 1070px) {
  .navbar-nav {
    transition: 0.5s;
    list-style: none;
    display: flex;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 10px;
  }
  .nav-item {
    transition: 0.5s;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (max-width: 850px) {
  .navbar-nav {
    transition: 0.5s;
    padding-bottom: 20px;
  }
  #navbar-div {
    transition: 0.5s;
    padding-bottom: 15px;
  }
  .nav-item {
    transition: 0.5s;
    display: none;
  }
  #toggle-menu {
    transition: 0.5s;
    /* color: white; */
    display: inline;
    /* visibility: hidden; */
    color: white;
    position: absolute;
    right: 50px;
    top: -1px;
    font-size: xx-large;
  }
  #toggle-menu:hover {
    cursor: pointer;
  }
  .activetoggle li {
    transition: 0.5s;
    display: flex;
    /* flex-direction: column; */
    /* transition: 0.5s; */
  }
  .activetoggle {
    transition: 0.5s;
    /* display: flex; */
    flex-direction: column;
  }
}

.grate {
  transition: 0.5s;
  text-align: center;
  margin: 20%;
  /* margin-top: auto; */
}

/* signup form css */

.form-div {
  transition: 0.5s;
  display: grid;
  justify-content: center;
  align-content: center;
  height: 650px;
}

.form {
  transition: 0.5s;
  display: grid;
  text-align: center;
  width: 500px;
  height: 500px;
  /* background-color:  rgb(237, 243, 242); */
  box-shadow: 0 4px 10px 4px rgba(41, 20, 20, 0.3);
  border-radius: 15px;
}

.form h2 {
  transition: 0.5s;
  text-transform: uppercase;
  padding-top: 15px;
}

.form-control {
  transition:0.5s ease-in-out;
  background-color: rgba(255, 255, 255, 0.377);
  width: 400px;
  height: 30px;
  border-radius: 10px;
  padding-left: 10px;
}

.form-control:hover {
  transition:0.5s ease-in-out;
  /* background-color: rgba(255, 255, 255, 0.377); */
  background-color: rgba(240, 182, 182, 0.377);
  width: 400px;
  height: 30px;
  border-radius: 10px;
  padding-left: 15px;
}

.form button {
  transition: 0.5s;
  margin-left: 120px;
  margin-right: 120px;
  border-radius: 5px;
  background-image: radial-gradient(circle, rgb(255, 255, 255), rgb(226, 226, 213));
  /* z-index: 1; */
}

.form button:hover {
  transition: 0.5s;
  background-image: linear-gradient(#95e795, #95e795);
  margin-left: 120px;
  margin-right: 120px;
  border-radius: 5px;
  /* background-color: green; */
  /* background-color: #74c474; */
  cursor: pointer;
  /* z-index: 2; */
}

.active {
  transition: 0.5s;
  text-transform: capitalize;
  color: rgb(153, 0, 255);
}

@media (max-width: 600px) {
  .form {
    transition: 0.5s;
    display: grid;
    text-align: center;
    width: 300px;
    height: 500px;
    /* background-color:  rgb(237, 243, 242); */
    box-shadow: 0 4px 10px 4px rgba(41, 20, 20, 0.3);
    border-radius: 15px;
    /* transition: all; */
    transition: 0.5s;
  }
  
  .form-control {
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.377);
    width: 250px;
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
  }
  .form-control:hover {
    transition: 0.5s;
    background-color: rgba(240, 182, 182, 0.377);
    width: 250px;
    height: 30px;
    border-radius: 10px;
    padding-left: 15px;
  }
  .form button {
    transition: 0.5s;
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 5px;
    background-image: radial-gradient(circle, rgb(255, 255, 255), rgb(226, 226, 213));
    /* z-index: 1; */
  }
  
  .form button:hover {
    transition: 0.5s;
    background-image: linear-gradient(#95e795, #95e795);
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 5px;
    /* background-color: green; */
    /* background-color: #74c474; */
    cursor: pointer;
    /* z-index: 2; */
  }

}